# Web框架
Django==5.1.4
djangorestframework==0.1.0

# PyTorch CUDA版本 (使用额外索引源)
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.5.1+cu118
torchvision==0.20.1+cu118 
torchaudio==2.5.1+cu118

# 数据处理
pandas==2.2.3
pandas_ta==0.3.14b0
numpy==2.2.1
tushare==1.4.13

# 环境变量管理
python-dotenv==1.0.1

# 数据库连接
mysqlclient==2.2.6
pymysql==1.1.1

# 跨域资源共享
django-cors-headers==4.6.0

# 图像处理
matplotlib==3.10.0
mplfinance==0.12.10b0

# 机器学习
scikit-learn==1.6.1

# 工具
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0 
email-validator==2.2.0
chinese-calendar==1.10.0
cryptography==44.0.0